@import '../app';

.start-section {
	margin-bottom: 0 !important;
	& + section {
		margin-top: 0 !important;
	}

	& > :not(:first-child) {
		margin-top: 1.5em;
	}

	.create-session__input-row {
		display: flex;
		align-items: center;

		.create-session--btn {
			margin-left: 1.5em;
		}
	}

	.create-session__error-message {
		margin-top: 0.8em;
		color: $fg-red;
		height: 1.4em;
	}
}
