{% extends 'admin/base.html.twig' %}

{% block content %}
    {{ parent() }}
    <ul class="ul--simple">
        <li>
            <a class="link" href="{{ path('admin_stats') }}">Stats</a>
        </li>
    </ul>
{% endblock %}
