<template id="modal--error" data-modal-buttons="ok">
    <div class="modal__logo-icon">
        <span class="text--danger"><i class="fas fa-exclamation-triangle"></i></span>
    </div>
    <div class="modal__body">
        <p>Une erreur est survenue:</p>
        <p class="modal--error__placeholder"></p>
    </div>
</template>
