<template id="modal--import-session" data-modal-buttons="ok,cancel">
    <div class="modal__logo-icon">
        <i class="fas fa-sign-in-alt"></i>
    </div>
    <div class="modal__body">
        <p>Données à importer:</p>
        <textarea class="json--data json-import--data"></textarea>
    </div>
</template>
