{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('session') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        app.session = {{ session | json_encode() | raw }};
    </script>
    {{ encore_entry_script_tags('session') }}
{% endblock %}

{% block sub_title %}
    {% if session_title is not null %}
        - {{ session_title }}
    {% endif %}
{% endblock %}

{% block page_subtitle %}
    <div class="inline-title__part">
        <h3>Session <span class="session-id">{{ session.session_id }}</span></h3>
    </div>
    <div class="inline-title__part inline-title__part--menu">
        <div class="dropdown-menu session-dropdown-menu">
            <div class="dropdown-menu__icon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-menu__menu">
                <h4>Session</h4>
                <hr>
                <ul>
                    <li>
                        <a href="{{ path('new_session') }}">
                            <span class="menu-icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            Nouvelle session
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('clone_session', { 'sessionId': session.session_id }) }}">
                            <span class="menu-icon">
                                <i class="fas fa-copy"></i>
                            </span>
                            Dupliquer
                        </a>
                    </li>
                    <li class="rename-session--btn command">
                        <span>
                            <span class="menu-icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            Renommer
                        </span>
                    </li>
                    <li class="reset-session--btn command">
                        <span>
                            <span class="text--warning menu-icon">
                                <i class="fas fa-recycle"></i>
                            </span>
                            Réinitialiser
                        </span>
                    </li>
                    <li class="delete-session--btn command">
                        <span>
                            <span class="text--danger menu-icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            Supprimer
                        </span>
                    </li>
                    <li class="export-session--btn command">
                        <span>
                            <span class="menu-icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            Exporter
                        </span>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <span>
                            <label>
                                <input type="checkbox" name="is_public" {{ checked(session.is_public) }} />
                                Rendre publique
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <h3><i class="fas fa-book"></i> Historique</h3>
    <div class="session-history"></div>
    <h3><i class="fas fa-paper-plane"></i> Exécuter</h3>
    <div class="session-live"></div>

    {% include 'session/session_command_template.html.twig' %}

    {% embed 'session/modals/confirm_modal.html.twig' with { 'id': 'modal--confirm-delete-session' } %}
        {% block icon %}
            <span class="text--danger"><i class="fas fa-trash-alt"></i></span>
        {% endblock %}
        {% block message %}
            Supprimer définitivement cette session ?
        {% endblock %}
    {% endembed %}

    {% embed 'session/modals/confirm_modal.html.twig' with { 'id': 'modal--confirm-reset-session' } %}
        {% block icon %}
            <span class="text--warning"><i class="fas fa-recycle"></i></span>
        {% endblock %}
        {% block message %}
            Réinitialiser cette session ?
        {% endblock %}
    {% endembed %}

    {% embed 'session/modals/history_warning_modal.html.twig' with { 'id': 'modal--confirm-insert-session-command' } %}
        {% block icon %}
            <span class="text--success"><i class="fas fa-plus"></i></span>
        {% endblock %}
        {% block message %}
            Insérer une nouvelle commande ?
        {% endblock %}
    {% endembed %}

    {% set confirm_delete_command_icon %}
        <span class="text--danger"><i class="fas fa-trash-alt"></i></span>
    {% endset %}
    {% set confirm_delete_command_message %}
        Supprimer définitivement cette commande ?
    {% endset %}

    {% embed 'session/modals/history_warning_modal.html.twig' with { 'id': 'modal--confirm-delete-session-command' } %}
        {% block icon %}
            {{ confirm_delete_command_icon }}
        {% endblock %}
        {% block message %}
            {{ confirm_delete_command_message }}
        {% endblock %}
    {% endembed %}

    {% embed 'session/modals/confirm_modal.html.twig' with { 'id': 'modal--confirm-delete-session-command--no-warn' } %}
        {% block icon %}
            {{ confirm_delete_command_icon }}
        {% endblock %}
        {% block message %}
            {{ confirm_delete_command_message }}
        {% endblock %}
    {% endembed %}

    {% embed 'session/modals/history_warning_modal.html.twig' with { 'id': 'modal--confirm-edit-session-command' } %}
        {% block icon %}
            <i class="fas fa-edit"></i>
        {% endblock %}
        {% block message %}
            Modifier cette commande ?
        {% endblock %}
    {% endembed %}

    {% include 'session/modals/rename_session_modal.html.twig' %}
    {% include 'session/modals/export_session_modal.html.twig' %}
    {% include 'session/modals/import_session_modal.html.twig' %}
    {% include 'session/modals/error_modal.html.twig' %}

{% endblock %}
