<template id="template--session-command">
    <div class="session-command">
        <div class="command-zone">
                <span class="insert-session-command--btn command" title="Insérer une commande au-dessus">
                    <i class="fas fa-plus"></i>
                </span>
            <span class="edit-session-command--btn command" title="Éditer (raccourci: <Ctrl-Click> sur le code à éditer)">
                    <i class="fas fa-edit"></i>
                </span>
            <span class="delete-session-command--btn command" title="Supprimer (<Ctrl-Click>: supprimer sans confirmer)">
                    <i class="fas fa-trash-alt"></i>
                </span>
        </div>
        <div class="input-commands">
            <button class="toggle-input-style--btn">Multiligne</button>
            <button class="import-data--btn">
                <i class="fas fa-sign-in-alt"></i>
                Importer
            </button>
        </div>
        <input type="text" class="input-area">
        <div class="output-area"></div>
    </div>
</template>
