@import './app';

.layout main {
    padding-top: 1em;
    padding-bottom: 0;
}

.flash-message {
    --fg-color: #aaa;
    --bg-color: #444;

    padding: 0.8em 1em;
    margin-bottom: 1em;

    border: 1px solid var(--fg-color);
    border-radius: 5px;

    color: var(--fg-color);
    background-color: var(--bg-color);

    cursor: pointer;

    &.flash-message-success {
        --fg-color: #8ccc8d;
        --bg-color: #40553f;
    }
    &.flash-message-error {
        --fg-color: #cc8c8c;
        --bg-color: #553f3f;
    }
}

ul.ul--simple {
    line-height: 1.4em;
}
