$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; // TODO: check if it can be removed
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

@mixin link() {
    color: $fg-orange;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@import 'reset';
@import 'modal';
@import 'layout';
@import 'theme';

.session-id {
    font-size: 0.8em;

    opacity: 0.9;
    font-family: monospace, monospace;
}
