.modal {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.modal__background {
		position: fixed;

		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba(0,0,0,0.5);

		.modal__window {
			display: flex;
			flex-direction: column;

			// Capital letter to avoid collision with sass:
			width: Min(90vw, 30em);

			.modal__logo-icon {
				text-align: center;

				i {
					font-size: calc(2em + 10vh);
				}
			}
			.modal__body {
				text-align: center;
			}
			.modal__commands {
				display: flex;
				justify-content: space-around;
				.modal__button-container {
					position: relative;

					.modal__button-keystroke {
						$color: #666;

						opacity: 0;
						transition: 0.2s opacity;

						position: absolute;
						left: 50%;
						transform: translate(-50%, 1em);

						padding: 0.3em 0.4em;

						font-size: 0.7em;

						color: $color;

						border: 1px solid $color;
						border-radius: 2px;

						cursor: default;
					}
				}

				&:hover {
					.modal__button-keystroke {
						opacity: 1;
					}
				}
			}
		}
	}
}
