$site-fg-color: ivory;
$site-bg-color: #222;
$button-fg-color: $site-fg-color;

$title-margin-top: 1rem;

$h1-margin-top: 2.8rem;
$h1-font-size: 2.5rem;

$h2-margin-top: 2rem;
$h2-font-size: 1.8rem;

$h3-margin-top: 1.7rem;
$h3-font-size: 1.4rem;

$menu-button-padding: 0.5em;

$fg-red: #f22b2b;
$fg-green: #00ab00;
$fg-blue: #619bf4;
$fg-orange: #fe9525;
$fg-yellow: #d8b423;
$fg-magenta: #d681d6;
$fg-sea: #1bc38c;
$fg-grey: #888;

@mixin textarea-style() {
	$padding-vertical: 0.6rem;
	$padding-horizontal: 0.6rem;
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;
	padding-left: $padding-horizontal;
	padding-right: $padding-horizontal;

	font-size: 1.1rem;
	color: ivory;
	background-color: lighten($site-bg-color, 3%);
	border: 1px solid lighten($site-bg-color, 15%);
	box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.4);

	min-height: 2.2em;

	&:focus {
		border: 1px solid lighten($site-bg-color, 40%);
	}
}

@mixin empty-content($msg) {
	display: block;
	content: $msg;
	font-style: italic;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
}
