<template id="modal-template">
    <div class="modal">
        <div class="modal__background">
            <div class="modal__window">
                <div class="modal__logo-icon"></div>
                <div class="modal__body"></div>
                <div class="modal__commands"></div>
            </div>
        </div>
    </div>
</template>
